---
title: Free iPhone Wallpaper 
published: true
date: 2014-03-23 07:51
slug: /free-iphone-wallpaper-1
layout: blog-post
tags: [design,wallpapers,freebies,free]
---


<div class="row">

	<div class="large-12 columns">

		<p>
			I'm going to design and share a few free iOS wallpapers. Open them on your iPhone and set them as a lock screen background. Here is the first in the series:
		</p>
	</div>

</div>

<div class="row">

	<div class="large-12 columns text-center">

		 <a href="http://cl.rwa.me/image/0b1S1B3A1z2R"><img src="/assets/blog/wallpaper1-example.png" border="0" class="realpx-iphone" /></a>

		 <p><a href="http://cl.rwa.me/image/0b1S1B3A1z2R">Download the wallpaper here</a></p>
	
	</div>

</div>
