---
title: Unzone - Timezones made easy
published: true
date: 2014-05-11 11:00
slug: /unzone-timezones-made-easy
layout: blog-post
tags: [design,app,freebies,free,psd,ios7]
---


<div class="row">

	<div class="large-12 columns">

		<p>
			I'm currently working on a new side project called '<a href="http://getunzone.com">Unzone</a>'. Our mission is to make working with people in another timezone as easy as possible. Instead of working on it in stealth mode, we decided to publish our progress on a blog this time. 
		</p>
		<p>
			You can follow along on the Unzone <a href="http://getunzone.com">website</a> or our <a href="http://twitter.com/getunzone">Twitter</a> account.
		</p>
	</div>

</div>

